<div style="width: 100%; padding: 1em; margin: 1em;">
    <h2 style="text-align: center;">Note Detail</h2>
</div>
<div *ngIf="noteService.noteDetail != null" style="width: 100%; margin:0 2em; border-left: 1px solid #4141;">
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>id: {{noteService.noteDetail.id}}</p>
    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>title: {{noteService.noteDetail.title}}</p>
    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>content: {{noteService.noteDetail.content}}</p>
    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>description: {{noteService.noteDetail.description}}</p>
    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>note type: {{noteService.noteDetail.noteTypeDTO.name}}</p>
    </div>
    <div *ngIf="noteService.noteDetail.noteLabelsDTO != null && noteService.noteDetail.noteLabelsDTO.length > 0"
        style="width: 100%; padding: 1em; margin: 1em;">
        <p>labels:
            <span *ngFor="let label of noteService.noteDetail.noteLabelsDTO">{{label.labelName}} &nbsp;</span>
        </p>

    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>created: {{noteService.noteDetail.created | date:'hh:mm MM/dd/yyyy'}}</p>
    </div>
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>modified: {{noteService.noteDetail.modified | date:'hh:mm MM/dd/yyyy'}}</p>
    </div>
</div>