<div style="width: 100%; padding: 2em;">
  <h2 style="text-align: center;">Test Store Angular</h2>
</div>
<div style="width: 100%; padding: 2em;">
  <table class="table table-hover" *ngIf="labels">
    <thead>
      <tr>
        <td>Label Id</td>
        <td>Label Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let label of labels | async">
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
      </tr>
    </tbody>
    </table>
    <div class="panel panel-primary">
      <div class="panel-body">
        <form [formGroup]="myForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Label Id</label>
            <input type="text" class="form-control" formControlName="id" #id />
          </div>
          <div *ngIf="myForm.controls['id'].invalid && (myForm.controls['id'].dirty || myForm.controls['id'].touched)" class="alert alert-danger">
            <div *ngIf="myForm.controls['id'].errors.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Label Name</label>
            <input type="text" class="form-control" formControlName="name" #name/>
          </div>
          <div *ngIf="myForm.controls['name'].invalid && (myForm.controls['name'].dirty || myForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="myForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
            <div class="form-group">
              <button (click)="addLabel(id.value, name.value)" [disabled]="myForm.pristine || myForm.invalid" class="btn btn-primary">Add</button>
            </div>
        </form>
      </div>
    </div>
</div>