<div style="width: 100%;">
    <div nz-row>
        <div nz-col nzXs="24" nzSm="14" nzMd="14">
            <div style="width: 100%; text-align: center; padding: 1em; margin: 1em;">
                <h2>List Notes</h2>
            </div>
            <div style="width: 100%; padding: 1em 1.5em; margin: 1em;">
                <nz-list nzBordered>
                    <nz-list-item *ngFor="let note of notes | async">
                        <!-- <nz-list-item *ngFor="let note of noteMockAPI$ | async"></nz-list-item> -->
                        <span (click)="showNoteDetail(note.id)"
                            nz-typography><mark>{{ note.id }}---{{ note.title }}</mark>&nbsp;&nbsp;&nbsp;{{note.modified | date:'hh:mm MM/dd/yyyy'}}</span>
                        <span>
                            <button (click)="showNoteDetail(note.id)">view</button>
                            &nbsp;
                            <button (click)="removeNote(note.id)">delete</button>
                        </span>
                    </nz-list-item>
                </nz-list>
            </div>
            <div style="width: 100%; padding: 1em 1.5em; margin: 1em;">
                <button (click) = noteService.showEditNoteModal();>Add Note</button>
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="10" nzMd="10">
            <div style="width: 100%;">
                <app-note-detail></app-note-detail>
            </div>
        </div>
    </div>
</div>

<!-- modal -->

<app-note-form-edit></app-note-form-edit>


