<div style="width: 100%; padding: 1em; margin: 1em;">
    <h2 style="text-align: center;">Note Detail</h2>
</div> 
<div style="width: 100%; margin:0 2em; border-left: 1px solid #4141;">
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>id: {{noteService.noteDetail.id}}</p>
    </div> 
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>title: {{noteService.noteDetail.title}}</p>
    </div> 
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>content: {{noteService.noteDetail.content}}</p>
    </div> 
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>created: {{noteService.noteDetail.created | date:'hh:mm MM/dd/yyyy'}}</p>
    </div> 
    <div style="width: 100%; padding: 1em; margin: 1em;">
        <p>modified: {{noteService.noteDetail.modified | date:'hh:mm MM/dd/yyyy'}}</p>
    </div> 
</div> 

